body{
  font-family: sans-serif;
  text-align: center;
  font-size: 45px;
  color: white;
  max-width: 1200px;
  margin: auto;
}

.container{
  background-color: white;
  padding: 20px;
}

.header{
  background-color: #54d4ee;
  padding: 20px;
  margin-bottom: 20px;
}

.main{
  display: grid;
  grid-template-columns: 1.5  fr 3fr;
  gap: 20px;
  margin-bottom: 20px;
}

.content1{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.hero{
  background-color: #d8c8e5;
  padding: 20px;
  flex: 3;
  margin-bottom: 20px;
}

.sideBar{
  background-color: #a1c265;
  padding: 20px;
  flex: 5;
}

.content2{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.mainContent{
  background-color: #f6c834;
  padding: 20px;
  margin-bottom: 20px;
  height: 500px;
}

.extraContent{
  background-color: #898989;
  padding: 20px;
  height: 200px;
}

.relatedContent{
  display: flex;
  margin-bottom: 20px;
}

.relatedImages{
  flex: 7;
  background-color:#2db776;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-right: 20px;
}

.relatedPosts{
  flex: 2;
  background-color: #f6ccdf;
  padding-top: 20px;
  padding-bottom: 60px;
  padding: 20px;  
}

.footer{
  background-color: #ffa502;
  padding: 20px;
}